doctype html
html
  head
    block head
      meta(charset='utf8')
      title
        block pagetitle
          | Django Birthday
      link(rel='stylesheet', href='#{baseUrl}/css/global.css')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

  body
    .wrapper
      header
        block header
          nav.navbar.navbar-default
            div.container
              div.navbar-header
                a.navbar-brand(href="/")
                  img(src="/im/ks.png" alt="Django Birthday", height=64)
              div
                ul.nav.navbar-nav
                  include ./includes/navbar-items.jade

      .main
        block content

      footer
        block footer
          .container.tagline
            p.text-center
              | made with &#9829; in lawrence ks by <a href="http://revsys.com/">revolution systems</a>
              br
              | follow us <a href="https://twitter.com/#{ twitter }">@#{ twitter }</a>
              br
              | design by <a href="https://twitter.com/patrickgiroux">patrick giroux</a>

    block afterbody
      script(src='#{baseUrl}/js/jquery/jquery.min.js')
      script(src='#{baseUrl}/js/bootstrap/bootstrap.js')
