extends base.jade

block pagetitle
  | Guide - Django Birthday

mixin place_details(section_name, section_icon, place_list)
  .row
    .col-md-12
      h3
        i(class="#{section_icon}")&nbsp;
        = section_name

  .row
    for place, slug in place_list
      if place.section == section_name
        .col-sm-3
          h4: = place.name
          address: = place.address
          if place.description
            p: = place.description

          p
            each value, index in place.tags
              span.label.label-default #{value}
              | &nbsp;


          ul.list-inline
            if place.map
              li: a.btn.btn-default.btn-xs(href="#{place.map}") map
            if place.website
              li: a.btn.btn-default.btn-xs(href="#{place.website}") website
            if place.foursquare
              li: a.btn.btn-default.btn-xs(href="#{place.foursquare}") 4SQ

block content
  .container
    .row
      .col-md-8
        h1 Welcome to Lawrence
        p.lead.
          We love this city, and we want you to experience what we love about
          Lawrence while you are here. Here are our picks which are close to
          <a href="http://libertyhall.net/">Liberty Hall</a>, the Django
          Birthday venue.
    .row
      +place_details('Coffee', 'fa fa-coffee', public.places._data)
      +place_details('Food', 'fa fa-cutlery', public.places._data)
      +place_details('Dessert', 'fa fa-spoon', public.places._data)
      +place_details('Booze', 'fa fa-beer', public.places._data)
