extends base.jade

mixin place_details(section_name, place_list)
  .row
    .col-md-12
      h3= section_name

  .row
    for place, slug in place_list
      if place.section == section_name
        .col-sm-3
          h4: = place.name
          address: = place.address
          if place.description
            p: = place.description
          else
            p: [TODO: write something about this place]

          p
            each value, index in place.tags
              span.label.label-default #{value}
              | &nbsp;


          ul.list-inline
            if place.map
              li: a.btn.btn-default.btn-xs(href="#{place.map}") map
            if place.website
              li: a.btn.btn-default.btn-xs(href="#{place.website}") website
            if place.foursquare
              li: a.btn.btn-default.btn-xs(href="#{place.foursquare}") 4SQ

block content
  .main
    .container
      .row
        .col-md-8
          h1 Welcome to Lawrence
          p.
            We love this city, and we want you to experience what we love about
            Lawrence while you are here. Here are our picks which are close to
            Liberty Hall the Django Birthday venue.
  .secondary
    .container
      +place_details('Coffee', public.places._data)
      +place_details('Food', public.places._data)
      +place_details('Booze', public.places._data)
