extends ../base.jade

mixin social(icon, href, title)
  span.fa-stack.fa-2x(data-toggle="tooltip", data-placement="top", title=title)
    a(href=href)
      i.fa.fa-square-o.fa-stack-2x
      i(class="fa fa-#{icon} fa-stack-1x")

block pagetitle
  | Speakers - Django Birthday

block content
  .container
    .row
      .col-sm-8
        h1 Speakers
        p.lead.
          Who's speaking at Django Birthday?
    
    for speaker in speakers
      .row(id=speaker.slug)
        .col-sm-4.hidden-xs
          img(src="./#{speaker.image}", width="100%", alt=speaker.name)
        .col-sm-8
          h3= speaker.name
          p.lead!= speaker.bio
        if speaker.social
          p.thesocial
            for s in speaker.social
              +social(s.icon, s.link, s.title)

append afterbody
  script.
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
