extends ../base.jade

block pagetitle
  | Talks - Django Birthday

block content
  .container
    .row
      .col-sm-12
        h1 Talks
        p.lead Who's speaking at Django Birthday?

    for talk, slug in talks
      if talk.active
        .row(id=slug)
          .col-sm-12
            h2(id=talk.slug)
              | #{talk.title}
        .row
          .col-sm-3.hidden-xs
            for speaker in talk.speakers
              img(src="#{speaker.image}", srcset="#{speaker.image_srcset}", width="100%", alt=speaker.name)
              h3
                a.talk-speaker(href="../speakers/##{speaker.slug}")= speaker.name
          .col-sm-8
            p.lead!= talk.abstract
