extends ../base.jade

block pagetitle
  | Talks - Django Birthday

block content
  .container
    .row
      .col-sm-12
        h1 Talks
        p.lead Who's speaking at Django Birthday?

    for talk in talks
      if talk.active
        .row(id=talk.slug)
          .col-sm-12
            h2(id=talk.slug)
              | #{talk.title} 
              a.talk-speaker(href="../speakers/##{talk.speaker.slug}")= talk.speaker.name
        .row
          .col-sm-3.hidden-xs
            p: img(src="../speakers/#{talk.speaker.image}", width="100%", alt=talk.speaker.name)
          .col-sm-8
            p.lead!= talk.abstract
